@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800&display=swap');


@import "tailwindcss";

.font-body {
    font-family: "Nunito Sans", sans-serif;
}

.font-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.font-then {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
}